.container {
	padding-top: 80px;
	min-width: 50%;
	z-index: 2;
	transition: height 1s ease-out;
}

// .contentTitle {
// 	position: absolute;
// 	left: 50px;
// 	top: 10px;
// 	z-index: 2;

// 	h1 {
// 		margin: 0 auto;
// 	}
// }