.containerTask {

    display: flex;

    margin-top: 10px;

    border-radius: 5px;
    /* border-bottom: 1px solid var(--border-color); */
    background-color: var(--task-color);
}

.statusTask {
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.statusImg {
    width: 50%;
    height: 50%;
    border-radius: 50%;

    border: 1px solid var(--border-color);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        border-color: var(--checkbox-color);
        box-shadow: 0 0 0 3px var(--checkbox-shadow);
    }

    img {
        display: none;
        width: 60%;
    }
}

.statusTask .done {
    border-color: var(--checkbox-color);
    background-color: var(--checkbox-color);

    img {
        display: block;
    }
}

.fieldTask {
    flex: 1;
    color: var(--main-textColor);

    display: flex;
    align-items: center;

    padding: 0 0 0 10px;

    font-size: 18px;
    font-weight: 400;
}

.fieldTask .done {
    color: var(--interface-color);
    text-decoration: line-through;
}

